openapi: 3.0.0
info:
  title: vrc_video_api
  version: '1.0'
servers:
  - url: 'https://vrc.akakitune87.net'
paths:
  /video/yt/channel/regist:
    post:
      summary: Youtubeチャンネル登録
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  user_id:
                    type: string
                    description: 作成されたユーザID
                  video_list_url:
                    type: string
                    description: ユーザごとに作成される動画リスト動画へのリンク
        '':
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    description: OK/NG
                  auther:
                    type: string
                    description: チャンネル作成ユーザ
      operationId: yt-regist
      description: |-
        Youtubeチャンネル登録
        本APIで登録したチャンネルが取得APIで取得可能になる
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                channel_id:
                  type: string
                  description: YoutubeチャンネルID
              required:
                - channel_id
    parameters: []
  '/videos/yt/ch/{channel_id}':
    parameters:
      - schema:
          type: string
        name: channel_id
        in: path
        required: true
        description: 登録済みYoutubeチャンネルID
    get:
      summary: 登録情報全取得
      tags: []
      responses:
        '200':
          description: OK
          content:
            text/html:
              schema:
                type: object
                properties: {}
              examples:
                example-1:
                  value: {}
      operationId: yt-get
      description: |-
        Youtube動画取得API
        動画サイトのBodyを返却
        VRChatの動画プレイヤーよりコールされることを前提としている
      parameters:
        - schema:
            type: string
          in: query
          name: 'n'
          description: 動画リストのn番目を取得する、省略した場合は0
    head:
      summary: ''
      operationId: yt-get-head
      responses:
        '302':
          description: Found
      description: |-
        Youtube動画取得API
        対象のYoutubeの動画のURLを302リダイレクトする
        VRChatの動画プレイヤーよりコールされることを前提としている
      parameters:
        - schema:
            type: string
          in: query
          name: 'n'
          description: 動画リストのn番目を取得する、省略した場合は0
  '/videos/yt/chlist/{channel_id}':
    parameters:
      - schema:
          type: string
        name: channel_id
        in: path
        required: true
        description: 登録済みYoutubeチャンネルID
    get:
      summary: Your GET endpoint
      tags: []
      responses: {}
      operationId: get-videos-yt-chlist-channel_id
      description: |-
        Youtube動画リスト取得API
        取得可能な動画のリストの動画のURLを302リダイレクトする
    head:
      summary: ''
      operationId: head-videos-yt-chlist-channel_id
      responses:
        '200':
          description: OK
      description: |-
        Youtube動画リスト取得API
        取得可能な動画のリストの動画のURLを302リダイレクトする
  '/videos/tver/{attribute}':
    parameters:
      - schema:
          type: string
        name: attribute
        in: path
        required: true
        description: 属性
    get:
      summary: Your GET endpoint
      tags: []
      responses:
        '302':
          description: Found
      operationId: get-videos-tver-attribute
      description: |-
        TVer動画取得API
        対象のTVerの動画のURLを302リダイレクトする
        VRChatの動画プレイヤーよりコールされることを前提としている

        設定可能な属性は下記(2022/1/1現在)
        ranking
        drama 
        variety
        documentary
        anime
        sport
        other
        c
        short
        area-kanto
        area-kansai
        area-chubu
        area-hokkaido-tohoku
        area-chugoku-shikoku
        area-kyusyu-okinawa
      parameters:
        - schema:
            type: string
          in: query
          name: 'n'
          description: 動画リストのn番目を取得する、省略した場合は0
        - schema:
            type: string
          in: query
          name: search
          description: 検索キーワード、本パラメータを設定した場合'n'の値は無視される
    head:
      summary: ''
      operationId: head-videos-tver-attribute
      responses:
        '302':
          description: Found
      description: |-
        TVer動画取得API
        対象のTVerの動画のURLを302リダイレクトする
        VRChatの動画プレイヤーよりコールされることを前提としている

        設定可能な属性は下記(2022/1/1現在)
        ranking
        drama
        variety
        documentary
        anime
        sport
        other
        c
        short
        area-kanto
        area-kansai
        area-chubu
        area-hokkaido-tohoku
        area-chugoku-shikoku
        area-kyusyu-okinawa
components:
  schemas: {}
